<nb-layout>
  <nb-layout-column>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <ng-container *ngIf="_loginError">
            <nb-alert status="danger">
              Please check your Password and Username!
            </nb-alert>
          </ng-container>

          <nb-card>
            <nb-card-body>

              <h1 id="title" class="title">Sign In</h1>

              <!-- SigninForm -->
              <form [formGroup]="loginForm" (ngSubmit)="loginUser()" aria-labelledby="title" novalidate>

                <!-- Username input -->
                <div class="form-control-group">
                  <label class="label" for="input-email">Email:</label>
                  <input type="text" formControlName="email" id="input-email" nbInput fullWidth
                    placeholder="Email">
                </div>
                <!-- End username input -->
                <br>
                <!-- Password input -->
                <div class="form-control-group">
                  <label class="label" for="input-password">Password:</label>
                  <input type="password" formControlName="password" id="input-password" nbInput fullWidth
                    placeholder="Password">
                </div><br><br>
                <!-- End password input -->


                <!-- Submit button -->
                <button nbButton fullWidth status="primary" size="large" type="submit" (click)="loginUser()">
                  Sign In
                </button>
              </form>

              <!-- <section class="another-action mt-3" aria-label="Register">
                Don't have an account? <a class="text-link" routerLink="../register">Sign Up</a>
              </section> -->

            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>